/* Global styles */
html, body {
    height: 100%;
    margin: 0;
}


/* Main content area */
.daily-game {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px); /* Adjust based on the total height of header and footer */
    width: 100%;
    padding-top: 60px; /* Adjust based on the height of the header */
}

.map-container {
    flex: 3;
    height: 100%;
    position: relative;
}

.details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f9f91e;
    border-radius: 5px; /* Matches with .landing-content for consistency */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adds shadow */
   
}

.weather-data-container, .location-display, .score-display {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.submit-button {
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px; 
    border: none; 
    background-color: #007bff; 
    color: white; 
    transition: background-color 0.3s, transform 0.2s; 
}

.submit-button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); /* Slightly enlarges the button on hover */
}


/* Leaflet Map */
.leaflet-container {
    height: 100%;
}

