/* Global styles */
html, body {
    height: 100%;
    margin: 0;
}


/* Main content area */
.daily-game {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px); /* Adjust based on the total height of header and footer */
    width: 100%;
    padding-top: 60px; /* Adjust based on the height of the header */
}


.map-container {
    flex: 3;
    height: 100%;
    position: relative;
}

.prompt {
  margin-top: 3vh;
  background-color: #f3efe5;
  padding: 5px 10px 10px 10px;
  border-radius: 20px;
  align-items: center;

}

.details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f9f91e;
}

.location-display, .score-display {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.weather-data-container {
    width: 100%;
    margin: 0px 0 10px 0;
    padding: 0px 10px 10px 10px;
    text-align: center;
}

.submit-button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px; 
    border: none; 
    background-color: #007bff; 
    color: white; 
    transition: background-color 0.3s, transform 0.2s; 
}

.submit-button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); /* Slightly enlarges the button on hover */
}

/* Scoring Modal */

.modal-container {
  display: flex;
  align-items: center;
}

.score-modal {
  z-index: 1000;
  max-height: 600px;
  max-width: 850px;
  width: 100vh;
  /* height: 70vh; */
  border-radius: 25px;
  background-color: #BFDFFB;

}

.close-dialog {
  align-items: center;
}

.dialog-button {
  cursor: pointer;
  background-color: #007bff; 
  border: none;
  border-radius: 5px;
  color: white; 
}

.score-logic {
  display: flex;
  flex-direction: column;
}

.info-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40%;
}

.location-img {
  text-align: center;
 max-height: 14vh;
 max-width: 28vw;
}
.scoring {
  display: grid;
  grid-template-columns: 30% 20% 5% 20% 5% 20%;
}

.scoring-header {
  text-align: center;
  font-weight: bold;
}

.cell {
  text-align: center;
  padding-bottom: 10px;
  font-size: 0.8em;
}

.heading-cell {
  text-align: left;
  font-weight: bold;
  padding-bottom: 10px;

}

.modal-dashboard {
  padding-top: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-button {
  background-color: #007bff; 
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white; 
  margin-top: 1.5vh;
}

.scoring {

}

.dashboard-button:hover {
  background-color: #0056b3; 
  transform: scale(1.05); /* Slightly enlarges the button on hover */
}

/* Leaflet Map */
.leaflet-container {
    height: 100%;
}

.heading {
  font-weight: bold;
}

.column-headings {
  display: flex;
}

.avg-humidity {
  margin-right: 10px;
}

.header {
   margin-left: 8vw;
}

@media (max-width: 1440px) {
  .score-modal {
    width: 60vw;
    height: 60vh;
    font-size: 1.8vh;
  }

  .location-img {
    margin-bottom: -1.8vh;
  
}
  .header {
    margin-left: 10vw;
  }
  .dashboard-button {
    margin-top: 3.4vh;
  }
}

@media (max-width: 1024px) {
  .modal-dashboard {
    padding-top: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .score-modal {
    width: 60vw;
    height: 55vh;
    font-size: 1.5vh;
  }

  .header {
    margin-left: 10vw;
  }

  .dashboard-button {
    margin-top: 4.8vh;
  }
  .location-img{
    margin-top: 2.8vh;
  }

  .dashboard-button {
    font-size: 1.4vh;
    margin-top: 5.0vh;
  }
}

@media (max-width: 768px) {
  .modal-dashboard {
    padding-top: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .score-modal {
    width: 70vw;
    height: 50vh;
    font-size: 1.5vh;
  }
  .header {
    margin-left: 14vw;
  }

  .location-img{
    margin-top: 3.8vh;
    height: 14.8vh;
  }

  .dashboard-button {
    font-size: 1.2vh;
    margin-top: 3.6vh;
  }
}

  @media (max-width: 500px) {
    /* Keep the header fixed at the top */
    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    
    /* Keep the footer fixed at the bottom */
    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
      
    .daily-game {
      flex-direction: column;
      padding-top: 100px; 
      padding-bottom: 80px; 
    }
  
    .map-container {
      order: 2; /* Change the order to display below details container */
      height: 100px; 
      padding: 5px;
      width: 97%;
    }
  
    .details-container {
       order: 1; /* Change the order to display above map container */
       padding: 30px;
       width: 80%;
    
    }
  }
  

  @media (max-width: 425px) {
    .modal-dashboard {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal-container {
      display: flex;
      flex-direction: column;
    }
    .score-modal {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 80vw;
      height: 60vh;
      font-size: 1.0vh;
    }
    .header {
      margin-left: 14vw;
    }
  
    .location-img{
      margin-top: 3.8vh;
      height: 14.8vh;
    }
  
    .dashboard-button {
      font-size: 1.2vh;
      margin-top: 3.6vh;
    }
    .close-dialog {
      display: flex;
      justify-content: flex-end;
    }
    
  }