/* Global styles */
html, body {
    height: 100%;
    margin: 0;
}


/* Main content area */
.daily-game {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px); /* Adjust based on the total height of header and footer */
    width: 100%;
    padding-top: 60px; /* Adjust based on the height of the header */
}

.map-container {
    flex: 3;
    height: 100%;
    position: relative;
}

.details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f9f91e;
    
  
   
}

.weather-data-container, .location-display, .score-display {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.submit-button {
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px; 
    border: none; 
    background-color: #007bff; 
    color: white; 
    transition: background-color 0.3s, transform 0.2s; 
}

.submit-button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); /* Slightly enlarges the button on hover */
}


/* Leaflet Map */
.leaflet-container {
    height: 100%;
}



  @media (max-width: 500px) {
    /* Keep the header fixed at the top */
    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    
    /* Keep the footer fixed at the bottom */
    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
      
    .daily-game {
      flex-direction: column;
      padding-top: 100px; 
      padding-bottom: 80px; 
    }
  
    .map-container {
      order: 2; /* Change the order to display below details container */
      height: 100px; 
      padding: 5px;
      width: 97%;
    }
  
    .details-container {
       order: 1; /* Change the order to display above map container */
       padding: 30px;
       width: 80%;
    
    }
  }
  