/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--background-color); /* Use theme color */
    color: var(--text-color); /* Use theme color */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10; /* Adjust if needed to ensure header is above other content */
}

.theme-toggle {
    cursor: pointer;
    background-color: #444; /* Dark background for the button, adjust based on your theme */
    color: #fff; /* Light text, adjust based on your theme */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: auto; /* Push it to the right side of the header */
}

.theme-toggle:focus {
    outline: none;
}

.theme-toggle:hover {
    background-color: #666; /* Slightly lighter on hover */
}

  

/* Footer */
footer {
    font-size: larger;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--background-color); 
    color: var(--text-color); ;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    z-index: 1000; /* Ensure the footer is above other content */
}