
.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjusted for header height; change 60px to your header's actual height */
    width: 100vw;
    padding-top: 60px; /* This pushes the content down, adjust this value based on your header's height */
    box-sizing: border-box;
    padding: 10px;
}


.landing-content, .player {
    width: 90%; /* Adjust width to ensure it doesn't stretch too much on smaller screens */
    margin: 10px 0; /* Add some margin for spacing */
}


.landing-content {
    border-radius: 5px;
    color: black;
    font-weight: bold; 
    text-align: center; /* Centers the text inside the .login-content */
}


#instructions {
  width:60vh;
  min-width:45vw;
  margin-top: 30px;
}


/* Media query for screens up to 480px wide */
@media (max-width: 500px) {
    .landing-container {
        flex-direction: column; 
    }

    .landing-content {
        order: 1; 
    }

    .player {
        order: 2; 
        width: 100%; 
        height: auto; 
    }
}