.dashboard-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  height: calc(100vh - 60px);
  width: 100vw;
  padding-top: 60px;
  box-sizing: border-box;
}

.dashboard-content {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  width: 80vw;
  background-color: rgb(204, 228, 241);
  flex-direction: row; /* Align children horizontally */
  flex-wrap: wrap; /* Allow wrapping to the next line */
  justify-content: space-between; /* Space out the children */
  align-items: flex-start; /* Align items at the start of the cross axis */
  padding: 20px;
  gap: 20px; /* Space between items */
  overflow: auto;
}

.half-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.daily-game-stats,
.competitive-stats,
.custom-games {
  background-color: #f3efe5;
    padding: 10px;
  border-radius: 20px;

  margin: 10px; /* Adds external spacing */
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.5); /* Adds a shadow for depth */
  
}

.leaderboard-grid {
  display: grid;
  grid-template-columns: 10% 5% 53% 32%;
}

.daily-game-stats {
  flex: 1; /* Allows the box to grow */
  min-width: 300px; /* Minimum width before wrapping */
}

.competitive-stats {
  flex: 1; /* Allows the box to grow */
  min-width: 300px; /* Minimum width before wrapping */
  height: 85.5vh; /* Minimum width before wrapping */
}

.custom-games {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 47vw;
  order: 3;
}


.custom-heading {
  margin: 1.8vw 2.0vw 1.0vw 2.0vw ;
}

.dashboard-content nav {
  flex-basis: 100%; /* Make the navigation span the full width */
  text-align: center;
  margin-top: 20px; /* Add some spacing between the boxes and links */
}

.dashboard-content nav a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.links a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.links a:hover {
  background-color: #dddddd; /* Add a hover effect */
}

.link-box {
  background-color: #007bff; /* Background color for link boxes */
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 20px; /* Space between link boxes */
  padding: 10px; /* Adjust padding for link boxes */
  width: 20px;
  text-align: center;
}

.link-box a {
  text-decoration: none;
  color: ghostwhite;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link-box a:hover {
  background-color: #dddddd; /* Add a hover effect to link boxes */
}

.comp-link-box {
  background-color: #007bff; /* Background color for link boxes */
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 20px; /* Space between link boxes */
  padding: 10px; /* Adjust padding for link boxes */
  text-align: center;
}

.comp-link-box a {
  text-decoration: none;
  color: ghostwhite;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.comp-link-box a:hover {
  background-color: #dddddd; /* Add a hover effect to link boxes */
}

.game-list {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center the list items */
  width: 100%; /* Optional: Adjust based on your design */
  list-style: none;
  padding: 0;
  justify-content: center;
}

.game-list li {
  text-align: center; /* Ensures the text in each list item is centered */
}

li {
  /* border: 1px solid black; */
  padding: 10px;
  margin: 1.8em;
}

.custom-heading-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media (max-width: 500px) {
  /* Keep the header fixed at the top */
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  /* Keep the footer fixed at the bottom */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 27px;
    padding-top: 700px; /* Adjust based on the height of the header */
    padding-bottom: 80px;
    max-width: 100%;
    height: calc(100vh - 10px); /* Adjust based on the height of the header */
    overflow-y: auto;
  }

  .link-box {
    order: 1;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    align-items: center;
  }

  .dashboard-content {
    order: 2;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 20px;
  }
}

.daily-game-stats {
  display: flex;
  flex-direction: column;
  width: 47vw;
}

.avg-best {
  display: flex;
  flex-direction: row;
  width: 20vw;
  align-items: center;
}

.custom-h5 {
  font-size: 1.0rem; /* Adjust the font size as needed */
  font-weight: bold; /* Set the font weight to bold */
  margin: 10px 0; /* Add margin (top and bottom) to create space around the heading */
  padding: 5px; /* Add padding inside the heading */
}

.custom-h4 {
  font-size: 1.2rem; /* Set the font size to 24 pixels */
  font-weight: bold; /* Make the text bold */
  margin-bottom: 10px; /* Add some bottom margin for spacing */
}

.leaderboard-container {
  display: flex;
  flex-direction: row;
  width: 20vw;
}

.games-played {
  margin-bottom: 5vh;
  text-align: center;
}

.competitive-stats-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.link-box {
  width: 15vw;
  margin: 1.3vw 1.8vw 1.0vw 1.8vw;
}

.competitive-stats table {
  width: 100%; /* Full-width table */
  border-collapse: collapse; /* Collapses the border */
}

.competitive-stats th,
.competitive-stats td {
  border: 1px solid #ddd; /* Add a border to table header and table data cells */
  padding: .5px; /* Add some padding for content */
  margin-right: 30px;
  text-align: left; /* Align the text to the left */
}

.competitive-stats th {
  background-color: #f4f4f4; /* Background color for header cells */
  color: #333; /* Text color for header cells */
}

.competitive-stats tr:nth-child(even) {
  background-color: #f9f9f9; /* Zebra stripes effect for even rows */
}
