.dashboard-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    height: calc(100vh - 60px);
    width: 100vw;
    padding-top: 110px;
    box-sizing: border-box;
  }
  
  .dashboard-content {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: space-around; /* Distribute items evenly along the row */
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    text-align: center;
    gap: 20px; /* Space between items */
    width: 100vw;
  }
  
  .daily-game-stats,
  .competitive-stats,
  .custom-games {
    display: flex;
    flex-direction: column;
    flex: 1; /* Equal width for all three boxes */
    min-width: 20vw; /* Minimum width for each box */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    text-align: center;
  }
  
  .dashboard-content nav {
    flex-basis: 100%; /* Make the navigation span the full width */
    text-align: center;
    margin-top: 20px; /* Add some spacing between the boxes and links */
  }
  
  .dashboard-content nav a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

   
  
  .links a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
  }
  
  .links a:hover {
    background-color: #dddddd; /* Add a hover effect */
  }
  


  
  .link-box {
    background-color: #f0f0f0; /* Background color for link boxes */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 20px; /* Space between link boxes */
    padding: 10px; /* Adjust padding for link boxes */
    width: 40px;
    text-align: center;
  }
  
  .link-box a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .link-box a:hover {
    background-color: #dddddd; /* Add a hover effect to link boxes */
  }
  
  .game-list {
    list-style: none;
    padding: 0;
  }
  
  

  

  @media (max-width: 500px) {
    /* Keep the header fixed at the top */
    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
    }
    
    /* Keep the footer fixed at the bottom */
    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1000;
    }
      
    .dashboard-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 27px;
      padding-top: 700px; /* Adjust based on the height of the header */
      padding-bottom: 80px;
      max-width: 100%;
      height: calc(100vh - 10px); /* Adjust based on the height of the header */
      overflow-y: auto;
    }
  
    .link-box {
      order: 1;
      margin-bottom: 20px;
      background-color: #f0f0f0;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 10px;
      align-items: center;
      
      
    }
  
    .dashboard-content {
      order: 2;
      margin-top: 20px;
    }
  }
  .daily-game-stats {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }

  .avg-best, .leaderboard-container {
    display: flex;
    flex-direction: row;
    width: 20vw;
  }

  .games-played{
    padding-left: 5vw;
    margin-bottom: 5vh;
  }

  .competitive-stats-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .link-box {
    width: 8vw;
  }


  .competitive-stats table {
    width: 100%; /* Full-width table */
    border-collapse: collapse; /* Collapses the border */
  }
  
  .competitive-stats th, .competitive-stats td {
    border: 1px solid #ddd; /* Add a border to table header and table data cells */
    padding: .5px; /* Add some padding for content */
    margin-right: 30px;
    text-align: left; /* Align the text to the left */
  }
  
  .competitive-stats th {
    background-color: #f4f4f4; /* Background color for header cells */
    color: #333; /* Text color for header cells */
  }
  
  .competitive-stats tr:nth-child(even) {
    background-color: #f9f9f9; /* Zebra stripes effect for even rows */
  }