.dashboard-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    height: calc(100vh - 60px);
    width: 100vw;
    padding-top: 110px;
    box-sizing: border-box;
  }
  
  .dashboard-content {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: space-around; /* Distribute items evenly along the row */
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    text-align: center;
    gap: 20px; /* Space between items */
  }
  
  .user-stats,
  .competitive-stats,
  .custom-games {
    flex: 1; /* Equal width for all three boxes */
    min-width: 200px; /* Minimum width for each box */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    text-align: center;
  }
  
  .dashboard-content nav {
    flex-basis: 100%; /* Make the navigation span the full width */
    text-align: center;
    margin-top: 20px; /* Add some spacing between the boxes and links */
  }
  
  .dashboard-content nav a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

   
  
  .links a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
  }
  
  .links a:hover {
    background-color: #dddddd; /* Add a hover effect */
  }
  


.links {
    text-align: center;
    margin-top: 20px;
    display: flex; /* Add flex display to align link boxes horizontally */
    justify-content: center; /* Center link boxes horizontally */
  }
  
  .link-box {
    background-color: #f0f0f0; /* Background color for link boxes */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 20px; /* Space between link boxes */
    padding: 10px; /* Adjust padding for link boxes */
  }
  
  .link-box a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .link-box a:hover {
    background-color: #dddddd; /* Add a hover effect to link boxes */
  }
  
  .game-list {
    list-style: none;
    padding: 0;
  }
  
  

  @media (max-width: 500px) {
    /* Keep the header fixed at the top */
    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    
    /* Keep the footer fixed at the bottom */
    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
      
    .dashboard-container {
      display:flex;
      position: relative;
      padding: 30px;
      padding-top: 200px; 
      padding-bottom: 80px; 
      max-width: 95%;
    }
  
    /* Center align text in all containers */
    .dashboard-content,
    .user-stats,
    .competitive-stats,
    .custom-games {
      text-align: center;
    }
  }
  