/* Header */
header {
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure the header is above other content */
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    font-family: monospace;
    color: var(--text-color);
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    margin-left: auto; /* This will push your navigation to the right */
  }
  
  nav a, .nav-container button {
    margin-right: 20px;
    text-decoration: none;
    color: var(--text-color);
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 1px solid transparent; /* Add border to make it look like a box */
    background-color: var(--button-bg-color); /* Optional: if you have a variable for button background */
  }
  
  nav a:hover, nav a:focus, .nav-container button:hover {
    background-color: rgba(255,255,255,0.2);
    border-color: var(--text-color); /* Change border color on hover/focus */
  }
  
  /* Add this to give some space around the toggle button and align it with the links */
  .theme-toggle button {
    margin-right: 0; /* Last item, no margin to the right */
  }
  
