.custom-games-list {
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  white-space: nowrap; /* Prevent wrapping */
  
}

.custom-games-container {
  display: inline-block; /* Display each game container in a row */
  margin-right: 10px; /* Add spacing between game containers */
}

.custom-game-container {
  display: inline-block; /* Ensure each game is displayed in a box */
  border: 1px solid #ccc; /* Add border for each game container */
  background: ghostwhite;
  margin: 0px 5px 0px 5px;
  box-shadow: 1px 3px 3px 1px rgba(255, 255, 255, 0.5); /* Adds a shadow for depth */
  border-radius: 5px; /* Add border radius */
  padding: 10px; /* Add padding */
}

.button {
  margin: 10px; /* Adjust as needed */
  /* Add more button styling here */
}

/* Adjust the main container */
.dashboard-content {
  overflow-x: hidden; /* Hide horizontal overflow */
}