.custom-games-list {
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  white-space: nowrap; /* Prevent wrapping */
  
}

.custom-games-container {
  display: inline-block; /* Display each game container in a row */
  margin-right: 10px; /* Add spacing between game containers */
}

.custom-game-container {
  display: inline-block; /* Ensure each game is displayed in a box */
  border: 1px solid #ccc; /* Add border for each game container */
  background: ghostwhite;
  background-image: url('/src/Images/cloud.jpg');
  background-size: cover;
  margin: 0px 5px 3px 5px;
  box-shadow: 1px 3px 3px 1px rgba(44, 44, 44, 0.5); /* Adds a shadow for depth */
  border-radius: 10px 10px 10px 10px; /* Add border radius */
  padding: 10px; /* Add padding */
  height: 160px;
  width: 160px;
}

.button {
  margin: 10px; /* Adjust as needed */
  background-color: #007bff; /* Background color for link boxes */
  color: ghostwhite;
  border-radius: 10px; /* Add border radius */
  transition: background-color 0.3s ease;
  /* Add more button styling here */
}

.button:hover {
  background-color: #dddddd; /* Add a hover effect to link boxes */
}

/* Adjust the main container */
.dashboard-content {
  overflow-x: hidden; /* Hide horizontal overflow */
}