.custom-games-list {
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  white-space: nowrap; /* Prevent wrapping */
  
}

.custom-games-container {
  display: inline-block; /* Display each game container in a row */
  margin-right: 10px; /* Add spacing between game containers */
}

.custom-game-container {
  display: inline-block; /* Ensure each game is displayed in a box */
  border: 1px solid #ccc; /* Add border for each game container */
  border-radius: 5px; /* Add border radius */
  padding: 10px; /* Add padding */
}

.button {
  margin-top: 10px; /* Adjust as needed */
  /* Add more button styling here */
}

/* Adjust the main container */
.dashboard-content {
  width: 1200px; /* Take up the full width of the screen */
  overflow-x: hidden; /* Hide horizontal overflow */
}