
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjusted for header height; change 60px to your header's actual height */
    width: 100vw;
    padding-top: 60px; /* This pushes the content down, adjust this value based on your header's height */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-content {
    padding: 20px;
    background-color: #f3efe5;
    border-radius: 20px;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.5);
    color: black;
    font-weight: bold; 
    text-align: center; /* Centers the text inside the .login-content */
    width: 25%; 
    margin: 50px 0; 
}

.player {
    width: 100%; /* Adjust width to ensure it doesn't stretch too much on smaller screens */
    height: 100%;
    margin: 100px 0;
}
