.competitive-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjusted for header height; change 60px to your header's actual height */
    width: 100vw;
    padding-top: 60px; /* This pushes the content down, adjust this value based on your header's height */
    box-sizing: border-box;
}

.competitive-game {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px); /* Adjust based on the total height of header and footer */
    width: 100%;
    padding-top: 60px; /* Adjust based on the height of the header */
}
.competitive-content {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: black;
    font-weight: bold; 
    text-align: center; /* Centers the text inside the .login-content */
}



.map-container {
    flex: 3;
    height: 100%;
}





@media (max-width: 500px) {
    /* Keep the header fixed at the top */
    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    
    /* Keep the footer fixed at the bottom */
    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
      
    .competitive-game {
      flex-direction: column;
      padding-top: 100px; 
      padding-bottom: 80px; 
    }
  
    .map-container {
      order: 2; /* Change the order to display below details container */
      height: 100px; 
      padding: 5px;
      width: 97%;
    }
  
    .details-container {
       order: 1; /* Change the order to display above map container */
       padding: 30px;
       width: 80%;
    
    }
  }
  